@import url("header.css");
@import url("hero.css");
@import url("about.css");
@import url("work.css");
@import url("route.css");
@import url("contact.css");
@import url("footer.css");

:root {
  /* Fontes */
  --font-titulo: "Lora", serif;
  --font-corpo: "Outfit", sans-serif;

  /* Cores */
  --fundo-creme: #f5f1eb;
  --texto-escuro: #2d2b2a;
  --texto-secundario: #696663;
  --terracota-primaria: #c75640;
  --salvia-secundaria: #989985;
  --card: #f8f6f1;
  --border: #d5cfc3;
  --muted: #e8e5de;

  /* Dark cores */
  --dark-fundo: #1b1a18;
  --dark-texto: #f5f1eb;
  --dark-texto-secundario: #c0b7a5;
  --dark-terracota: #df7b68;
  --dark-salvia: #7a7b65;
  --dark-card: #201f1d;
  --dark-border: #363330;
  --dark-muted: #2e2b29;
}

::selection {
  background-color: var(--dark-terracota); /* Cor de fundo */
  color: var(--dark-texto); /* Cor do texto */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: var(--font-corpo);
  color: var(--texto-escuro);
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo {
  font-family: var(--font-titulo);
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

section,
footer {
  padding: 5rem 1.5rem;
}

.info-text {
  color: var(--terracota-primaria);
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.title-terracota {
  color: var(--terracota-primaria);
}

.title-slavia {
  color: var(--salvia-secundaria);
}

.sm-description {
  color: var(--texto-secundario);
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2rem;
  padding-bottom: 3rem;
}

.btn {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--dark-texto);
  padding: 2rem 3rem;
  border-radius: 50px;
  border: 1px solid var(--card);
  box-shadow: 2px 2px 10px var(--dark-texto-secundario);
  transition: transform 0.2s ease-in-out;
}

.btn:hover {
  transform: translateY(-5px);
}

.sm-text {
  color: var(--texto-escuro);
  font-size: 0.9rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.2s ease-in-out;
}

.title {
  font-size: clamp(2rem, 4.5vw, 3.5rem);
  font-weight: 400;
  margin-bottom: 2rem;
}

.text {
  color: var(--texto-secundario);
  font-size: 1.15rem;
  font-weight: 300;
  line-height: 1.7rem;
}

.title-card {
  font-size: 1.3rem;
  padding-block: 1.5rem;
  font-weight: 400;
}

.text-card {
  color: var(--texto-secundario);
  font-size: 1.05rem;
  font-weight: 300;
  line-height: 1.5rem;
}

.animation {
  background-color: var(--texto-escuro);
  padding-block: 3rem;
  color: var(--texto-secundario);
  font-family: var(--font-titulo);
  font-size: clamp(3rem, 5vw, 6rem);
  font-style: italic;
  overflow: hidden;
  white-space: nowrap;
}

.animation ul {
  list-style: disc;
  display: flex;
  gap: 10rem;
  width: max-content;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animation ul li::marker {
  color: var(--terracota-primaria);
}
